<app-home></app-home>
<hr />
<p class="mt-3 lead">Reservation List</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Guest</th>
      <th scope="col">Email</th>
      <th scope="col">Check-in</th>
      <th scope="col">Check-out</th>
      <th scope="col">Room Number</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="reservations.length > 0; else noReservation">
    <tr *ngFor="let res of reservations">
      <td>{{ res.guestName }}</td>
      <td>{{ res.guestEmail }}</td>
      <td>{{ res.checkInDate | date }}</td>
      <td>{{ res.checkOutDate | date }}</td>
      <td>{{ res.roomNumber }}</td>
      <td>
        <button
          class="btn btn-sm btn-danger m-1"
          (click)="deleteReservation(res.id)"
        >
          Delete
        </button>
        <button
          class="btn btn-sm btn-secondary mx-1"
          [routerLink]="['/edit', res.id]"
        >
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #noReservation>
  <p class="text-center mt-2">No Reservation is available</p>
</ng-template>
